*{
    font-family:  Verdana, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 200px;
    height: 200px; 
    border: 1px solid #333;
    margin: auto;
    padding:10px;
    border:solid 2px rgb(22, 96, 9);
    border-radius: 5px;
}
.even {
    background-color: black;
}
.odd{
    background-color: white;
    
}
#title{
    width: 200px;
    height:50px;
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative;
    background-color: black;
    border-radius: 5px;
}   
#title::after{
    content:"";
    width:100%;
    height:100%;
    position: absolute;
    padding: 3px;
    background: conic-gradient(transparent,red);
    top:50%;
    border-radius: 5px;
    left:50%;
    z-index: -1;
    translate: -50% -50%;

}
#title-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-container{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#reset-button{
    
    font-size: 10px;
    padding: 3px;
    border:2px solid hsla(0, 0%, 0%, 0);
    transition: all 1s ease 0s;
    background-color: hsl(189, 92%, 41%);
    cursor: pointer;
}
#reset-button:hover{
    transform: scale(1.2);
    background-color: hsl(189, 92%, 61%);

}
#reset-button:active{
    transform: scale(0.9);
    background-color: hsl(189, 92%, 71%);
}