*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    color:white;
    scroll-behavior: smooth;
}
body{
    background-image: url('https://img.freepik.com/free-vector/creative-geometric-design-space_53876-89781.jpg');
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    height:100vh;
}
@keyframes lefttoright{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes righttoleft{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeout{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
header{
    padding:20px 40px;
    width:90%;
    justify-self:center;
    border-radius: 100px ;
    margin-top:20px;
    font-size:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.518), -8px -8px 16px rgb(75, 74, 74);
    backdrop-filter: blur(40px);
    position: fixed;
    z-index: 1000;
    animation: righttoleft 1s ease-in-out;
}
header a{
    text-decoration: none;
    font-size: 20 px;
    margin-left: 50px;
    border-bottom:2px solid transparent;
    transition:all 0.3s ease-in-out ;
    border-radius:5px;
    
    padding:5px 10px;
}
header a:hover{

}
span{
    background:linear-gradient(90deg, #FF007F 0%, #00A3FF 100%) ;
    background-clip: text;
    color: transparent;
}
h2{
    font-size: 70px;
    margin-bottom: 60px;
}
p{
    font-size: 40px;
    color: white;
    margin-top: 20px;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding:30% 10%;
    height: 100vh;
    width: 100%;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 50px rgb(255, 255, 255);
    animation: fadeout 1s ease-in-out;
}
img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 70px rgb(255, 255, 255);
}
.home-content{
    max-width: 800px;
    backdrop-filter: blur(40px);
    padding: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.518), -8px -8px 16px rgb(75, 74, 74);
    border-radius: 20px;
    animation: lefttoright 1s ease-in-out;
}